.Small{
    background: #eee;
    width: 100%;
    color: #000;
    height: 150px;
    padding: 40px;

    img{
        width: 100%;
        max-width: 118px;
        margin: 0 auto;
        display: block;
        vertical-align: middle;
    }
}

.Full{
    background: #eee;
    width: 100%;
    color: #000;
    height: 205px;
    padding: 40px;

    img{
        width: 100%;
        max-width: 216px;
        margin: 0 auto;
        display: block;
        vertical-align: middle;
    }
}